.nav {
  height: 50px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 115px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;

}

.nav ul li a {
  margin-right: 30px;
  padding: 0;
}
